BasedOnStyle: Google

IndentWidth: 4
UseTab: Never
TabWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true

BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: "^<.*"
    Priority: 2
  - Regex: ".*"
    Priority: 3
SortIncludes: true
SortUsingDeclarations: true

PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false

Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  misc-*,
  google-*

WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
AnalyzeTemporaryDtors: true

WhitespaceSensitiveMacros:
  - BOOST_PP_STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_TOSTRING

Standard: c++23
FormatStyle: file

SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 2
